* {
    padding: 0px;
    margin: 0px;
}

a {
    vertical-align: middle;
}

h2 {
    font-size: 45px;
    margin: px;
}

h4 {
    font-size: 25px;
    margin: 0px;
}

header{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    background-image: url('images/NavyHouse.JPG');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}

.main-content {
    align-self: flex-end;
    text-align: center;
}