body, html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 45px;
    margin: 1px;
}

h4 {
    font-size: 25px;
    margin: 0px;
}

.main {
    background-image: url('images/NavyHouse.JPG');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    -webkit-text-stroke: 1.2px black;
    display: flex;
    justify-content: center;
}

.main-content {
    align-self: flex-end;
    text-align: center;
}